* {
  font-family: "Quicksand", sans-serif;
  font-size: 30px;
}

.about-container {
  display: flex;
  height: fit-content;
  align-items: center;
  padding-bottom: 30px;
}

.about-container .text {
  color: #020d62 !important;
  font-size: 20px;
}

.about-container strong {
  font-size: 20px;
}

.about-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-image-container h2 {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
}

.about-text-container {
  padding-left: 30px;
  align-self: flex-start;
}

a,
a:visited {
  text-decoration: none;
}

.back-container {
  background: #e0c760;
  border-radius: 15px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 1);
  left: 2.5vw;
  margin-bottom: 40px;
  position: relative;
  top: 5vh;
}

body {
  margin: 0;
  text-align: justify;
}

.bonus-cards {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
}

.bonus-cards .subtitle {
  color: #f5efe9;
}

.bonus-cards .card {
  width: 40%;
  position: relative;
}

.bonus-cards .card .fixed-bottom {
  font-size: 13px;
  position: absolute;
  bottom: 0;
  left: 40px;
  text-align: left;
}

.bonus-image {
  border-radius: 100%;
  height: 15vw;
}

.button {
  border: 0;
  border-radius: 15px;
  box-shadow: 0px 16px 30px 0px rgba(0, 0, 0, 1);
  font-family: "Bebas Neue", sans-serif;
  font-size: 36px;
  font-weight: bold;
  justify-self: center;
  letter-spacing: 2px;
  min-width: 80%;
  padding: 15px;
  text-align: center;
  transition: transform 0.5s ease;
}

.button.blue {
  background: linear-gradient(30deg, #020024 0%, #020d62 35%, #020024 100%);
  color: #f5efe9;
  cursor: pointer;
}

.button.gold {
  background: #e0c760;
  color: #000000;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.1);
}

.card {
  align-items: center;
  background: linear-gradient(30deg, #020024 0%, #020d62 35%, #020024 100%);
  border-radius: 15px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.card-content {
  color: #f5efe9;
  padding: 10px 20px;
}

.card-content p,
.card-content p strong {
  font-size: 15px;
}

.card-header {
  align-items: center;
  display: flex;
  text-align: left;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}

.carousel .card {
  scroll-snap-align: start;
  list-style: none;
  cursor: pointer;
  width: 98%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
  box-sizing: border-box;
  text-align: justify;
}

.carousel.no-transition {
  scroll-behavior: auto;
}

.cursor-pointer {
  cursor: pointer;
}

.flex-centered {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.footer {
  background-color: #f5efe9;
  height: 20vh;
  text-align: center;
  width: 100%;
}

.footer p {
  font-size: 15px;
}

.front-container {
  background: #000000;
  border-radius: 15px;
  bottom: 5vh;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 1);
  position: relative;
  right: 2.5vw;
  text-align: center;
  width: 50vw;
}

.front-container-content {
  align-items: center;
  color: #e0c760;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.guarantee-image {
  height: 35vw;
}

.image {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 1);
  width: 18vw;
}

.italic {
  font-style: italic;
}

.item {
  background: linear-gradient(30deg, #09073b 0%, #020d62 35%, #09073b 100%);
  border-radius: 15px;
  text-align: left;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 1);
  margin-top: 10px;
  padding: 10px 21px 10px 21px;
}

li,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.logo {
  border-radius: 100%;
  box-shadow: 1vw 1vw 3vw rgba(0, 0, 0, 0.7);
  height: 35vw;
}

.more-itens {
  background-color: #f5efe9;
  text-align: left;
  border-radius: 15px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 1);
  color: #020d62;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  padding: 20px;
  transition: max-height 1s ease, opacity 2s ease;
}

.more-itens.visible {
  max-height: 100vh;
  opacity: 1;
}

.no-margin {
  margin: 0;
}

.offer-container {
  padding: 100px 0;
}

.reviews-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.section {
  height: fit-content;
  min-height: 100vh;
  width: 100%;
}

.section.blue {
  background: #020d62;
}

.section.white {
  background: #f5efe9;
}

.self-aligned-center {
  align-self: center;
}

.small-back-container {
  background-color: rgba(224, 199, 96, 0.8);
  border-radius: 15px;
  bottom: 5px;
  height: 25vh;
  position: fixed;
  right: 5px;
  width: 20vw;
  z-index: 2;
}

.small-front-container {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  bottom: 20px;
  color: #e0c760;
  display: flex;
  flex-direction: column;
  height: 25vh;
  justify-content: center;
  position: fixed;
  right: 20px;
  width: 20vw;
  z-index: 2;
}

.small-front-container .button {
  background-color: #e0c760;
  color: #000000;
  font-size: 20px;
  margin-top: 10px;
}

.small-front-container p {
  font-size: 15px;
}

.subtitle {
  color: #020d62;
  text-align: center;
}

.subtitle.gold {
  color: #e0c760;
}

.text {
  font-size: 30px;
}

.text.blue {
  color: #020d62;
}

.text-centered {
  text-align: center;
}

.text-container {
  color: #f5efe9;
  padding: 80px;
}

.text-image-container {
  height: fit-content;
  padding: 80px 0;
  width: 45vw;
}

.text.justify {
  text-align: justify;
}

.text.white {
  color: #f5efe9;
}

.title {
  font-family: "Bebas Neue", sans-serif;
  margin-bottom: 0;
  margin-top: 0;
}

.title.blue {
  color: #020d62;
}

.title.large {
  font-size: 66px;
}

.title.small {
  font-size: 50px;
}

.title.white {
  color: #f5efe9;
}

.ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-image {
  border-radius: 100%;
  height: 50px;
  margin-right: 10px;
}

.video {
  border-radius: 15px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
  height: 37.5vw;
  margin-top: 30px;
  width: 60vw;
}

.wrapper {
  margin-bottom: 90px;
  max-width: 90vw;
  position: relative;
  width: 100%;
}

.wrapper .carousel {
  border-radius: 15px;
  display: grid;
  gap: 16px;
  grid-auto-columns: calc((100% / 3) - 12px);
  grid-auto-flow: column;
  overflow-x: auto;
  padding: 15px 0;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.wrapper i {
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
  height: 50px;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
}

.wrapper i:first-child {
  left: -32px;
}

.wrapper i:last-child {
  right: -22px;
}

.warning {
  font-size: 17px;
}

@media only screen and (min-width: 831px) and (max-width: 1024px) {
  .about-container .text {
    font-size: 17px;
  }

  .about-container strong {
    font-size: 17px !important;
  }

  .about-container h2,
  .warning {
    font-size: 14px !important;
  }

  .back-container {
    transform: scale(0.9);
  }

  .title.large {
    font-size: 52px;
  }

  .text,
  .text strong,
  .item,
  .item u,
  .item strong,
  .more-itens li,
  .more-itens li strong,
  .subtitle {
    font-size: 23px;
  }

  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 12px);
  }

  .small-front-container,
  .small-front-container .button {
    font-size: 12px;
    text-align: center;
  }
}

@media only screen and (max-width: 830px) {
  .about-container .text {
    font-size: 14px;
  }

  .about-container {
    flex-direction: column;
  }

  .about-container strong {
    font-size: 14px !important;
  }

  .about-container h2 {
    font-size: 14px !important;
  }

  .about-image-container {
    padding-bottom: 30px;
  }

  .about-text-container {
    padding: 0;
  }

  .back-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0.7);
  }

  .bonus-cards {
    flex-direction: column;
    align-items: center;
  }

  .bonus-cards .card {
    width: calc(100% - 40px);
    margin-bottom: 40px;
  }

  .bonus-image {
    height: 35vw;
  }

  .button {
    font-size: 33px;
  }

  .carousel .card {
    width: 98% !important;
    padding: 0;
    padding-top: 20px;
  }

  .front-container {
    width: 100%;
  }

  .guarantee-image {
    height: 50vw;
  }

  .image {
    width: 50vw;
  }

  .logo {
    height: 50vw;
  }

  .mobile-container {
    flex-direction: column;
    padding: 50px 25px !important;
  }

  .offer-container {
    width: 100%;
    padding: 0;
  }

  .section {
    min-height: fit-content;
  }

  .small-front-container,
  .small-back-container {
    display: none;
  }

  .text-container {
    padding: 0;
  }

  .text-image-container {
    padding: 40px 0 0 0;
    width: 100%;
  }

  .text,
  .text strong,
  .item,
  .item u,
  .item strong,
  .more-itens li,
  .more-itens li strong,
  .subtitle {
    font-size: 19px;
  }

  .title {
    text-align: center;
  }

  .title.large {
    font-size: 48px;
  }

  .title.small {
    font-size: 32px;
  }

  .video {
    width: 100%;
    height: 50vw;
  }

  .warning {
    font-size: 11px !important;
  }

  .wrapper .carousel {
    grid-auto-columns: calc(100% - 12px);
  }

  .wrapper i {
    transform: scale(0.6);
  }

  .wrapper i:first-child {
    left: -22px !important;
  }

  .wrapper i:last-child {
    right: -12px !important;
  }
}
